h1 Add a new book 
form(action="/books/create" method="POST")
    label Title:
    input(name="title" type="text")
    br
    br
    label Author:
    input(name="author" type="text")
    br
    br
    label Description:
    textarea(name="des", cols="30", rows="10")
    br
    br
    label Price (USD):
    input(name="price" type="text")
    br
    br
    button Create