extends ../layouts/common.pug
block content
  h1 Users 

  a.btn.btn-primary(href="/users/create") Create new user

  br
  br

  form(action="/users/search" method="GET") 
    input(type="text" name="q" value=q)
    button Search

  table.table.text-center
      tr
        th Avatar
        th Name
        th Action
      each user, index in users
       tr
        th
          img(src= user.avatarUrl)
        th= user.name
        th
           a(href="/users/view/"+ user.id, class="btn btn-primary ml-1") View
           span &nbsp;
           a(href="/users/update/"+ user.id, class="btn btn-warning ml-1") Update
           span &nbsp;
           a(href="/users/delete/"+ user.id, class="btn btn-danger") Delete
    
